*{
max-width: 1000%;
max-height: 1000%;

}

.playground {
    position: relative;
    width: 100%;
    height: 300px;
    border: 4px solid black;
}  
.pos-box {
    /* position: static; */
    position: absolute; /* relative, fixed, sticky */
    width: 100px;
    height: 100px;
    background-color: coral;
    border: 2px solid black;
    top: 0px;
    right: 0px;
}
.navbar{
 
   position:fixed;
   top:0;
   right:0;
   left:0;
   bottom: auto;
    background-color: #e7e4e4ff;
    z-index: 2; 
    
  
    
}